numpy==2.4.2
pandas==3.0.0
psutil==7.2.2
pynvml==13.0.1
scikit_learn==1.8.0
scipy==1.17.0
torch==2.1.1+cu118
torch geometric==2.7.0
torch cluster==1.6.3+pt21cu118
torch scatter==2.1.2+pt21cu118
torch sparse==0.6.18+pt21cu118
torch spline-conv==1.2.2+pt21cu118
